In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

data_dir = '/kaggle/input/inf8460-snliA19/'

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/inf8460-snliA19/sample_submission_snli.csv
/kaggle/input/inf8460-snliA19/snli_train.csv
/kaggle/input/inf8460-snliA19/snli_test.csv

In [2]:
# Reading the training data
train_data = pd.read_csv(os.path.join(data_dir, 'snli_train.csv'))
print(train_data.shape)
train_data.head()

(510705, 4)

,sentence1,sentence2,label1,id
0,A person on a horse jumps over a broken down a...,A person is training his horse for a competition.,neutral,0
1,A person on a horse jumps over a broken down a...,"A person is at a diner, ordering an omelette.",contradiction,1
2,A person on a horse jumps over a broken down a...,"A person is outdoors, on a horse.",entailment,2
3,Children smiling and waving at camera,They are smiling at their parents,neutral,3
4,Children smiling and waving at camera,There are children present,entailment,4

In [3]:
# Splitting by data type
entailement_data = train_data[train_data['label1'] == 'entailment']
print('Entailement relationships')
for i, line in entailement_data.sample(5).iterrows():
    print('"{}"\t "{}"'.format(line['sentence1'], line['sentence2']))

print(entailement_data.shape)
entailement_data.head()

Entailement relationships
"A little girl, wearing a show number, is sitting with her beagle at a dog show."	 "A girl is with her dog."
"A man in a green shirt is playing a trumpet."	 "A man plays a trumpet."
"A boy smiles surrounded by several other people smiles at the camera."	 "A boy is posing for a picture along with several other people"
"A man wears a black cape in the parking lot of a building that has artwork displayed on the exterior."	 "There is a man that wears a black cape in the parking lot of a building."
"Two children are playing in a homemade fort."	 "Two children are playing in something they built."
(170316, 4)

,sentence1,sentence2,label1,id
2,A person on a horse jumps over a broken down a...,"A person is outdoors, on a horse.",entailment,2
4,Children smiling and waving at camera,There are children present,entailment,4
7,A boy is jumping on skateboard in the middle o...,The boy does a skateboarding trick.,entailment,7
13,Two blond women are hugging one another.,There are women showing affection.,entailment,13
15,"A few people in a restaurant setting, one of t...",The diners are at a restaurant.,entailment,15

In [4]:
# Splitting by data type
contradiction_data = train_data[train_data['label1'] == 'contradiction']
print('Contradiction relationships')
for i, line in contradiction_data.sample(5).iterrows():
    print('"{}"\t "{}"'.format(line['sentence1'], line['sentence2']))

print(contradiction_data.shape)
contradiction_data.head()

Contradiction relationships
"A group of runners are pictured while running a marathon."	 "The runners are race walking."
"A little boy is riding his bike on what appears to be a walking trail."	 "A little boy is in the driveway repairing his bicycle chain."
"Two men in black uniforms talking to a man holding a bottle of soda."	 "Two ladies and a puppy walking in a park."
"A dog walking on a beach"	 "The dog is swimming at the pool."
"A woman with a red purse and a dark colored coat is walking along a city street while talking on a cellphone."	 "The woman is texting."
(170118, 4)

,sentence1,sentence2,label1,id
1,A person on a horse jumps over a broken down a...,"A person is at a diner, ordering an omelette.",contradiction,1
5,Children smiling and waving at camera,The kids are frowning,contradiction,5
6,A boy is jumping on skateboard in the middle o...,The boy skates down the sidewalk.,contradiction,6
10,An older man sits with his orange juice at a s...,A boy flips a burger.,contradiction,10
12,Two blond women are hugging one another.,The women are sleeping.,contradiction,12

In [5]:
# Splitting by data type
neutral_data = train_data[train_data['label1'] == 'neutral']
print('Neutral relationships')
for i, line in neutral_data.sample(5).iterrows():
    print('"{}"\t "{}"'.format(line['sentence1'], line['sentence2']))

print(neutral_data.shape)
neutral_data.head()

Neutral relationships
"Two men wearing shorts and no shirts playing beach volleyball."	 "The two men hit a ball."
"The girl under the tree stuck her tongue out at the photographer in a playful manner."	 "A blonde human under a tree."
"A dog is running through high grass with a woman wearing red in the background."	 "The woman is taking care of the dog for a friend."
"A graying man in a long-sleeve button-down shirt appears three times, depicting office activity."	 "A graying man in a long-sleeve button-down shirt appears three times, depicting office activity and taking notes."
"People on a sidewalk gathered around a man and his son who is holding a short sword and is wearing a top hat."	 "People watch a magician do some tricks."
(170271, 4)

,sentence1,sentence2,label1,id
0,A person on a horse jumps over a broken down a...,A person is training his horse for a competition.,neutral,0
3,Children smiling and waving at camera,They are smiling at their parents,neutral,3
8,A boy is jumping on skateboard in the middle o...,The boy is wearing safety equipment.,neutral,8
9,An older man sits with his orange juice at a s...,An older man drinks his juice as he waits for ...,neutral,9
11,Two blond women are hugging one another.,Some women are hugging on vacation.,neutral,11